.card {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
}
.card:hover {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.2s ease-in-out;
}
.cardimg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  /* background-color: rgba(212, 229, 255, 1); */
}
.productimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 223px;
  background-color: white;
}
.productimg img {
  width: 210px;
  height: 210px;
}
.cartlogo {
  width: 40px;
  height: 40px;
  position: absolute;
  margin-left: 215px;
  margin-top: 215px;
}
.cardtitle {
  font-family: Roboto;
  font-size: 23px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;
  color: black;
}
.cardprice,
.color {
  margin-left: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    box-sizing: border-box;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: box-shadow 0.2s ease-in-out;
  }
  .cardimg {
    width: 175px;
    height: 175px;
  }
  .productimg {
    width: 150px;
    height: 150px;
  }
  .productimg img {
    width: 140px;
    height: 140px;
  }
  .cartlogo {
    width: 25px;
    height: 25px;
    margin-left: 125px;
    margin-top: 140px;
  }
  .cardtitle {
    margin-left: 15px;
    font-size: 14px;
    line-height: 16px;
  }
  .cardprice,
  .color {
    font-size: 11px;
    line-height: 14px;
  }
  .color {
    display: none;
  }
}
