* {
  margin: 0px;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: antiquewhite; */
}
.greeting {
  display: none;
}
.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  /* height: 54vh; */
  margin: 30px auto;
  padding: 35px;
  gap: 0.6rem;
  border-radius: 23px;
  border: 3px solid #d9d9d9;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.h2 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.formcontainer span {
  display: none;
}
label {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
input {
  /* width: 40vw; */
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  border-radius: 8px;
  border: 2px solid #b6b6b6;
  margin-bottom: 10px;
}
.term {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.continue_btn {
  height: 50px;
  border-radius: 8px;
  color: white;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  background-color: #ffa41c;
  cursor: pointer;
}
.create_btn {
  width: 35vw;
  height: 50px;
  margin-bottom: 35px;
  border-radius: 10px;
  border: 2px solid #bdbdbd;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  cursor: pointer;
}
.h6 {
  /* position: relative;
  max-width: 500px;
  margin: 100px auto; */
  margin-bottom: 25px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}
.errortext {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #f81212;
}
/* h6:before {
  content: " ";
  height: 2px;
  width: 130px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
}
h6:after {
  content: " ";
  height: 2px;
  width: 130px;
  background: red;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
} */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .formcontainer {
    width: 90vw;
    padding: 18px;
    margin: 20px auto;
    border-radius: 8px;
    gap: 0.8rem;
  }
  .formcontainer span {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    display: inline;
    color: black;
  }
  .greeting {
    display: flex;
    width: 90vw;
    margin-top: 40px;
    justify-content: left;
  }
  .greeting p {
    font-family: Roboto;
    font-size: 31px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #2e0052;
  }
  .h2 {
    font-size: 22px;
    font-weight: 600;
  }
  .continue_btn {
    height: 45px;
    font-size: 20px;
  }
  .term {
    font-size: 14px;
    line-height: 20px;
  }
  .h6 {
    font-size: 16px;
  }
  .create_btn {
    height: 45px;
    width: 90vw;
    border-radius: 8px;
    font-size: 18px;
  }
}
